:root {
  --dark-color: #1B1B1B;
  --grey-color: grey;
  --muted-text-color: var(--grey-color);
  --btn-black-color: var(--dark-color);
  --btn-blue-color: #3657D3;
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 100px;
  min-height: 100%;
  height: 100%;
}

.btn {
  padding: 10px 50px;
  justify-content: center;
  border-radius: 2px;
  color: #FEFEFE;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border: none;
}

.btn-blue {
  background-color: var(--btn-blue-color);

  &:hover {
    background-color: transparent;
    border: 1px solid var(--btn-blue-color);
    color: #FEFEFE;
  }
}

.btn-black {
  background-color: var(--btn-black-color);

  &:hover {
    background-color: var(--btn-blue-color);
    color: #FEFEFE;
  }
}

.form-input {
  border: none;
  margin-right: 37px;
  background-color: inherit;
  vertical-align: bottom;
  border-bottom: 1px solid var(--grey-color);
  outline: none;
  color: #FEFEFE;

  &:active,
  &:focus,
  &:focus-visible {
    border: none;
    background-color: inherit;
    border-bottom: 1px solid var(--grey-color);
    outline: none;
  }

  &:active,
  &:focus,
  &:focus-visible {
    border-bottom: 1px solid var(--btn-blue-color);
  }
}